# ** RUBY
export GEM_HOME="$PWD/.local/gem"
export PATH="$GEM_HOME/bin:$PATH"

# LOAD ENVIRONMENT VARIABLES
[[ -f $PWD/.env ]] && eval $(cat .env | sed 's/^/export /')
export DATABASE_HOST=localhost

# Set container runner {podman,docker,nerdctl}
export RUNNER=podman

# PSQL
export PGPASSWORD="$DB_PASSWORD"

# POSSIBLE ERRORS:
# gem install bundler --no-document childprocess
# bundler libxml2 libxslt
